.DS_Store

environment.rb
crossdomain.xml
GeoLiteCity.dat
hash.rb
mongoid.yml
novelmates.sublime-project
.env*
.powenv

/log/
/logs/
/tmp/
/node_modules/
/bower_components/
/data/*
coverage/**/*

.DS_Store
log/**/*
tmp/**/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
