<div class="panel panel-default">
  <div class="panel-heading"><h4>Meetups</h4>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item">London<span class="badge">0</span></a>
    <a href="#" data-toggle="collapse" data-target=".meetup-details" class="list-group-item">
      Oxford
      <span class="badge">3</span>
    </a>

    <div class="meetup-details collapse list-group">

      <div class="list-group-item">
      <a href="http://novelmates.dev/meetup/124/0062066315"><h5>First meetup</h5></a>
        <span class="pull-right people">
          <img class="img-circle" src="http://lorempixel.com/40/40/people/">
          <img class="img-circle" src="http://lorempixel.com/40/40/people/">
          <img class="img-circle" src="http://lorempixel.com/40/40/people/">
        </span>
      </div>

      <div class="list-group-item">
        <h5 class="">Second meetup</h5>
        <span class="pull-right people">
          <img class="img-circle" src="http://lorempixel.com/40/40/people/">
        </span>
      </div>

      <div class="list-group-item">
        <h5 class="">Third meetup</h5>
        <span class="pull-right people">
          <img class="img-circle" src="http://lorempixel.com/40/40/people/">
          <img class="img-circle" src="http://lorempixel.com/40/40/people/">
        </span>
      </div>

    </div>

  </div>
  <button type="button" class="new-meetup-btn btn btn-primary btn-lg btn-block">Add new meetup</button>
  <%= partial '/books/create_meetup' %>
</div>

<!-- <table class="table table-hover table-bordered">
  <thead>
    <tr class="success">
      <th>#</th>
      <th>Name</th>
      <th>Date</th>
      <th>Users</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">London</td>
      <td>Author discussion</td>
      <td>05.02.2014</td>
      <td>@mdo, @bla, @do</td>
    </tr>
    <tr>
      <td>Social Implications</td>
      <td>08.03.2014</td>
      <td>@fat, @brat, @sausage</td>
    </tr>
    <tr>
      <td>Oxford</td>
      <td>Truth of fiction?</td>
      <td>21.04.2014</td>
      <td>@twitter, @larry, @barry</td>
    </tr>
  </tbody>
</table> -->