<table class="table table-hover table-bordered">
  <thead>
    <tr class="success">
      <th>#</th>
      <th>Name</th>
      <th>Date</th>
      <th>Users</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">London</td>
      <td>Author discussion</td>
      <td>05.02.2014</td>
      <td>@mdo, @bla, @do</td>
    </tr>
    <tr>
      <td>Social Implications</td>
      <td>08.03.2014</td>
      <td>@fat, @brat, @sausage</td>
    </tr>
    <tr>
      <td>Oxford</td>
      <td>Truth of fiction?</td>
      <td>21.04.2014</td>
      <td>@twitter, @larry, @barry</td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-primary btn-lg btn-block">Add new meetup</button>
