
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
//@import "/bootstrap/mixins.less";
//@import "/bootstrap/variables.less";
@import 'lesshat.less';
@import 'layout.less';


/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
  content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect7:after
{
  right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * Effect 8
 * ===============================================*/
.effect8
{
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
  content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect8:after
{
  right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

// #panel {
// 	background-image: url('../img/book_on_table1200x900.png');
// 	padding: 10px 10px 10px 10px;
// 	box-shadow: 3px 2px 15px #888888;
// 	background-color: rgb(224, 224, 224);

// 	background-size: cover;
// 	background-position: 50% 40%;
// 	height: 500px;
// 	-webkit-animation: fade 0.3s ease-out 1;
// 	-moz-animation: fade 0.3s ease-out 1;
// 	-ms-animation: fade 0.3s ease-out 1;
// 	-o-animation: fade 0.3s ease-out 1;
// 	animation: fade 0.3s ease-out 1;
// }
body { 
  background-color: #f4f4f4;
}
footer {
  background-color: #695B50;
}

.dropdown.profile > a {
  padding:5px;
}
.profile-pic {
  display: inline;
  padding: 4px 10px 4px 0px;
  img {
    height: 40px;
  }
}

img.profile {
  height: 40px;
  width: 40px;
}

h1 {
	font-family: 'Satisfy', cursive;
	font-size: 90px;
	line-height: 90px;
	margin-left: 20px;
	text-align:left;
	color:#664F4C;
}

.center { float: none; margin-left: auto; margin-right: auto; }

/* ==========================================================================
   Book Search styles
   ========================================================================== */

#book-search {
  background: #FCFCFC; //#f5f5f1;
  border-bottom: 1px solid #ccccc8;

  z-index:3;
  // position: absolute;
  // top: 300px;
  margin: -20px 0px 35px 0px;
  display:block;

  .transition(2.5s);
  .animation(fadeIn, 750ms);

  padding-top:30px;
  padding-bottom:15px;
  min-height:100px;
  .search-box {

    // background:white;
    // border-radius: 8px;
  }
  .spinner {
    float:right;
  }

  .input-group {
    height:42px;
  }

  input, ul.token-input-list {
    background: white;
    border: 1px solid #ccc;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    height:42px;
  }

  .input-group-addon {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
  }
}
