<script type="text/javascript">
  determine_location();
  $.ajax({
    url: '/mosaic'
  })
  .done(function(mosaic) {
    //console.log($.parseHTML(mosaic)[1]);
    $($.parseHTML(mosaic)).appendTo('#wrapper');
    if ($(document).width() >= 1200) {
      $('a:last-child', ".gallery").remove();
      $('a:last-child', ".gallery").remove();
    }
    else if ($(document).width() >= 992) {
      $('a:last-child', ".gallery").remove();
    }
    else if ($(document).width() >= 768) {
      $('a:last-child', ".gallery").remove();
    }

    $('.gallery img').load(function() {
      var container = document.querySelector('.gallery');
      var msnry = new Masonry( container, {
        // options
        "gutter": 40,
        itemSelector: '.cover-container',
        "isFitWidth": true,
        columnWidth: 250
      }); 
    });

  })
  .fail(function() {
    console.log("error getting the mosaic");
  });
  
</script>
<div id="book-search" class="row">
  <div class="city-search col-md-offset-1 col-md-3 col-sm-4">

    <div class="input-group"> <!--  has-success has-feedback -->
      <!-- <label class="control-label" for="inputSuccess4">Input with success</label> -->
      <span class="input-group-addon">City</span>
      <input type="text" class="form-control" id="city-input" placeholder="E.g. London">
      <!-- <span class="glyphicon glyphicon-ok form-control-feedback"></span> -->
    </div>

  </div>
  <div class="search-box col-md-7 col-sm-8">
    <div class="input-group"> 
      <span class="input-group-addon">Title</span>     
      <input type="text" id="book-input" class="form-control" placeholder="E.g. 50 Shades of Grey">
      <span id="spinner"></span>

<!--       <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span> -->
      
    </div><!-- /input-group -->
    <ul class="col-xs-12" id="books"></ul>
  </div><!-- /.col-lg-6 -->
   
</div>
<div id="wrapper" class="container-fluid">

</div>