<div id="fb-root"></div>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '609765839077999',
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  $(function() {
    $('a').click(function(e) {
      console.log("yo");
      e.preventDefault();

      FB.login(function(response) {
        if (response.authResponse) {
          $('#connect').html('Connected! Hitting OmniAuth callback (GET /auth/facebook/callback)...');

          // since we have cookies enabled, this request will allow omniauth to parse
          // out the auth code from the signed request in the fbsr_XXX cookie
          $.getJSON('/auth/facebook/callback', function(json) {
            $('#connect').html('Connected! Callback complete.');
            $('#results').html(JSON.stringify(json));
          });
        }
      }, { scope: '<%= scope %>' });
    });
    $('#logout').click(function(event) {
      FB.logout(function(e) {
        console.log("logged out");
        console.log(e);
      });
    });
  });
</script>

<p id="connect">
  <a href="#">Connect to FB</a>
</p>
<a id="logout" href="#">Log Out</a>

<p id="results" />