<li><a href="/user/profile">My Meetups</a></li>
<li class="dropdown profile">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <div class="profile-pic"><div class="profile-picture-wrapper" data-user-id="<%= current_user._id %>"></div></div>
    <span>Profile</span>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a href="/user/profile">My Profile</a></li>
    <li><a href="/user/edit">My Details</a></li>
    <li class="divider"></li>
    <li><a href="#">Log out</a></li>
  </ul>
</li>
<li>
    <form id="log-out" action="/logout">
        <span class="visible-xs" style="width:15px;height:1px;display:inline-block!important;"></span><button class="btn btn-default navbar-btn">Log out</button>
    </form>
</li>